@using BHIP.MVCHelpers
@model IEnumerable<BHIP.Model.VehicleScheduleHoldViewModel>

<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped table-bordered">
    <thead>
        <tr>
            <td colspan="10" class="table-header">
                Automobile - Pending Changes
            </td>
        </tr>
        <tr class="table-header">
            <th>
                Select
            </th>
            <th>
                Automobile
            </th>
            <th>
                Location
            </th>
            <th>
                VIN
            </th>
            <th>
                Own
            </th>
            <th>
                Notes
            </th>
            <th>
                Add/Removed Date
            </th>
            <th>
                Requested By
            </th>
            <th>
                COI
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {

                <tr>
                    <td>
                        <input type="checkbox" name="chkSelect" schedule_id="@item.VehicleScheduleHoldID" />
                    </td>
                    <td>
                        @item.Year @item.MakeModel
                    </td>
                    <td>
                        @item.City, @item.StateName @item.Zipcode
                    </td>
                    <td>
                        @item.VIN
                    </td>
                    <td>
                        @item.OwnLeaseDescription
                    </td>
                    <td>
                        @item.Notes
                    </td>
                    <td>
                        @(item.DateAdded.HasValue == true ? Convert.ToDateTime(item.DateAdded).ToShortDateString() : string.Empty)<br />
                        @(item.DateDeleted.HasValue == true ? Convert.ToDateTime(item.DateDeleted).ToShortDateString() : string.Empty)
                    </td>
                    <td>
                        @item.UserName<br />
                        @item.UserEmail
                    </td>
                    <td>
                        @(item.COI == true ? "Yes" : "No")
                    </td>
                    <td>
                        @item.StatusName
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr style="color: white; font-weight: bold; background-color: #808080; text-align: left; -moz-border-radius: 15px; border-radius: 15px;">
            <td colspan="10" class="table-header">
                &nbsp;
            </td>
        </tr>
    </tfoot>
</table>



