@using BHIP.Model.Helper
@model BHIP.Model.MemberCoverageViewModel

@{
    ViewBag.Title = "Pending Schedules - Other";
}
@section Scripts {
    @Scripts.Render("~/Scripts/jquery-migrate-1.2.1.js")
    @Scripts.Render("~/Scripts/jquery.maskedinput.js")
    @Scripts.Render("~/Scripts/jquery.mask.js")
    @Scripts.Render("~/Scripts/DialogForm.js")
}


<script>
    function SubmitForm() {
        window.location.href = "/MemberCov/PendingOtherSchedule/" + $("#MemberID").val();
    }
    $(document).ready(function () {

        $("#chkSelectAll").change(function () {
            //alert("select all");
            $("#chkDeselectAll").prop("checked", false);
            $("input[name=chkSelect]").prop("checked", true);
        });

        $("#chkDeselectAll").change(function () {
            //alert("unselect all");
            $("#chkSelectAll").prop("checked", false);
            $("input[name=chkSelect]").prop("checked", false);
        });

        $("#btnApprove").click(function () {
            var scheduleIDs = "";

            $("input[name=chkSelect]").each(function () {
                if ($(this).is(":checked")) {
                    if (scheduleIDs.length > 0) {
                        scheduleIDs = scheduleIDs + "," + $(this).attr("schedule_id");
                    }
                    else {
                        scheduleIDs = $(this).attr("schedule_id");
                    }
                }
            })

            $.ajax({
                type: 'POST',
                url: '/MemberCov/PendingOtherScheduleApprove',
                data: {
                    ID: scheduleIDs
                },
                beforeSend: function () {
                    $.blockUI({
                        message: $('#spinner'),
                        css: {
                            top: ($(window).height() - 400) / 2 + 'px',
                            left: ($(window).width() - 400) / 2 + 'px',
                            width: '400px'
                        }
                    });
                },
                success: function (data) {
                    $("#OtherScheduleHoldGrid").empty();
                    $("#OtherScheduleHoldGrid").load("/MemberCov/RefreshPendingOtherScheduleHold/" + $("#MemberCoverageID").val());
                    debugger;
                    if (data.isEmailRequired) {
                        window.location.href = "mailto:" + data.mailto + "?subject=" + data.subject + "&body=" + data.body + "&cc=" + data.cc;
                    }
                    $.unblockUI();

                },
                error: function (x, e) {
                    $.unblockUI();
                    alert("there is an error: " + x.responseText);
                }
            });
        });

        $("#btnRemove").click(function () {
            var scheduleIDs = "";

            $("input[name=chkSelect]").each(function () {
                if ($(this).is(":checked")) {
                    if (scheduleIDs.length > 0) {
                        scheduleIDs = scheduleIDs + "," + $(this).attr("schedule_id");
                    }
                    else {
                        scheduleIDs = $(this).attr("schedule_id");
                    }
                }
            })

            if (scheduleIDs.length > 0) {
                $.ajax({
                    url: '/MemberCov/PendingOtherScheduleRemove',
                    data: {
                        ID: scheduleIDs
                    },
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        $.blockUI({
                            message: $('#spinner'),
                            css: {
                                top: ($(window).height() - 400) / 2 + 'px',
                                left: ($(window).width() - 400) / 2 + 'px',
                                width: '400px'
                            }
                        });
                    },
                    success: function (data) {
                        $("#OtherScheduleHoldGrid").empty();
                        $("#OtherScheduleHoldGrid").load("/MemberCov/RefreshPendingOtherScheduleHold/" + $("#MemberCoverageID").val());
                        $.unblockUI();
                    },
                    error: function (x, e) {
                        $.unblockUI();
                        alert("there is an error: " + x.responseText);
                    }
                });
            }
        });
    });
</script>

<div class="bubble">
    <div class="rectangle">
        <h2>PENDING SCHEDULES - OTHER PROVIDER</h2>
    </div>
    <div class="triangle-l"></div>
    <div class="triangle-r"></div>

    <div class="main">
        <div style="text-align: left; width: 100%;">
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td>
                        <!-- DROP DOWNLIST -->
                        <div style="margin-top: 10px;">
                            <span style="width: 100px;display: inline-block;">Members:</span>
                            @if (User.IsInRole("Dropdown"))
                            {
                                @Html.DropDownListFor(m => m.MemberID, Model.GetMemberList(Model.MemberID), "--Select--", new { style = "font-size: 14px;" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.MemberID, Model.GetMemberList(Model.MemberID), "--Select--", new { style = "font-size: 14px;", @disabled = "disabled" })

                            }
                        </div>
                        <div style="margin-top: 10px;">
                            <button type="button" id="btnSearch" onclick="return SubmitForm();">Search</button>
                        </div>
                    </td>
                    <td>
                        @Html.HiddenFor(m => m.MemberCoverageID)
                        <table cellpadding="20" cellspacing="20">
                            <tr>
                                <td style="padding-right: 20px;">
                                    Select All <input type="checkbox" id="chkSelectAll" /><br />
                                    Deselect All <input type="checkbox" id="chkDeselectAll" />
                                </td>
                                <td style="padding: 20PX;">
                                    <button type="button" id="btnApprove" class="btn btn-primary" style="height: 75px;">Approve</button>
                                    <button type="button" id="btnRemove" class="btn btn-primary" style="height: 75px;">Remove<br />from list</button>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
            <div id="vehiclesInput">
                <div id="OtherScheduleHoldGrid" class="form-group">
                    @Html.Partial("_PendingOtherScheduleGrid", Model.OtherHoldList)
                </div>
            </div>

        </div>
    </div>
</div>

<div id="spinner" class="spinnerx" style="display:none;">
    <img id="img-spinner" src="/Content/images/ajax-loader.gif" alt="Loading" />
</div>
