@{
    ViewBag.Title = "About Us";
}


 <script src="@Url.Content("~/Scripts/date.format.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.mask.js")" type="text/javascript"></script>
<link type="text/css" href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />

<br /><br />
<!--    START HEADER TITLE AND BANNER   -->
<div class="bubble">
    <div class="rectangle">
        <h2>ABOUT US</h2>
        <!--div-- class="Large-title" style="color:white;">DEPARTMENTS</div-->
    </div>
    <div class="triangle-l"></div>
    <div class="triangle-r"></div>

    <div class="main">
        <div style="text-align: left; width: 100%; padding: 20px 20px 20px 20px;">
            <!--    END HEADER TITLE AND BANNER -->
            <!----------------- START TABLE --------------------->

            <table id="tblOuter" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr valign="top">
                    <td align="center">
                        <table id="tblContent" cellpadding="0" cellspacing="0" width="1000" border="0">
                            <tr>
                                <td width="910" style="padding: 20px; vertical-align:top">
                                    @*<br />*@


                                    <p>
                                        <font face="Trebuchet MS">

                                            <font color="black">
                                                The Arizona School Risk Retention Trust, Inc. (the Trust), is a
                                                not-for-profit corporation that provides Arizona public school districts and
                                                community colleges with property and liability coverages and related services.
                                                The Trust was established in 1986 under <a href="http://www.azleg.state.az.us/FormatDocument.asp?inDoc=/ars/11/00952-01.htm&amp;Title=11&amp;DocType=ARS" target="_blank"><font color="#650032">A.R.S. § 11-952.01(A).</font></a>
                                                It operates as a risk
                                                retention pool funded and governed by its members, and backed by the best
                                                reinsurance companies in the world.<br>
                                                <br>
                                                The Trust has grown dramatically since 1986, when its membership consisted of no
                                                more than a handful of school districts. Today, it services 249 districts
                                                and community colleges, making it one of the largest public entity pools
                                                in the United States.<br>
                                                <br>
                                                Being a Trust member confers a number of benefits. First, in addition to
                                                coverages, the Trust offers a variety of low-cost or free services to assist
                                                members in managing their risk. Second, funds not paid out during the year for
                                                losses or administration are retained by the Trust and are invested for the
                                                benefit of members. Finally, the Trust's governing board is selected <em>by</em>
                                                the membership <em>from among</em> the membership, ensuring an unwavering
                                                commitment to the promotion and protection of member interests.<br /><br />

                                   
                                        @*<strong><u>Vision &amp; Mission</u></strong>*@
                                                <strong class="paragraph-head">Vision &amp; Mission </strong> <br>
                                        The Trust's vision is to become our members' irreplaceable partner by offering incomparable programs, value, and service.
                                   
                                    <br /><br />

                                        The Trust's mission is to provide high quality, affordable property and casualty indemnity protection; risk management programs; and educational services that uniquely meet the evolving needs of our member school districts and community colleges.
                                    
                                    </font>

                                    </font>
                                    </p>

                                </td>
                                <td>
                                    <!--------------------START RIGHT SIDE LINKS---------------------->


                                    <div class="column-right">
                                        <div class="smaller-title2">
                                            <img src="~/Content/images/plus-sign-icon-gray.gif" width="31" height="23" alt="" />Quick Links
                                        </div>
                                        <div class="quicklinks" style="vertical-align:bottom;">
                                            <img src="~/Content/images/arrows-gray.gif" width="20" height="9" alt="" /><a href="/Home/TrustNAU">NAU/Trust Leadership Academy</a>
                                        </div>

                                        <div class="quicklinks">
                                            <img src="~/Content/images/arrows-gray.gif" width="20" height="9" alt="" /><a href="/Home/RiskManagementSummit">Risk Management Summit</a>
                                        </div>

                                        <div class="quicklinks">
                                            <img src="~/Content/images/arrows-gray.gif" width="20" height="9" alt="" /><a href="http://www.boarddocs.com/az/at/Board.nsf/vpublic?open" target="_blank">Board Meeting Agendas</a>
                                        </div>
                                        <div class="quicklinks">
                                            <img src="~/Content/images/arrows-gray.gif" width="20" height="9" alt="" /><a href="/Home/HearingOfficerProgram">Hearing Officer Program</a>
                                        </div>
                                        <div class="quicklinks">
                                            <img src="~/Content/images/arrows-gray.gif" width="20" height="9" alt="" /><a href="/documents/OthDocs/calendar.pdf" target="_blank">Calendar</a>
                                        </div><br><br>

                                        <div class="smaller-title2">
                                            <img src="~/Content/images/plus-sign-icon-gray.gif" width="31" height="23" alt="" />Contact
                                            the Trust
                                        </div>

                                        <div class="quicklinks2">
                                            @*<div class="quicklinksContact-img"><img src="~/Content/images/arrows-gray.gif" width="20" height="9" alt="" /></div>*@<div class="quicklinksText">
                                                <strong>Trust Phone Numbers</strong><br>
                                                (602) 266-4911<br>
                                                Toll Free:(800) 266-4911<br>
                                                Member Services: Press 2<br>
                                                Claims: Press 3<br>
                                                Fax:(602) 266-7754<br>
                                                                                                                                                                        <a href="mailto:the-trust@the-trust.org?Subject=Trust%20information%20request" target="_top"><b>Have Questions? Email the Trust.</b></a>
                                            </div>

                                        </div>
                                    </div>
                                    <br clear="all">

                                    <!--------------------END  RIGHT SIDE LINKS------------------------>


                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>


            <!--------------------------- END TABLE  -------------------------------->
        </div>
    </div>
</div>


   




